In [16]:
import pandas as pd
titanic = pd.read_csv('./titanic.csv')
males = titanic['Sex'][titanic['Sex'] == 'male'].count()
females = titanic['Sex'][titanic['Sex'] == 'female'].count()
print males, females

577 314

In [22]:
titanic.shape

(891, 12)

In [36]:
survival_rate = float(titanic['Survived'][titanic['Survived'] == 1].count()) / (titanic.shape[0])
print round(survival_rate, 2)

0.38

In [47]:
class1_rate = float(titanic['Pclass'][titanic['Pclass'] == 1].count()) / titanic.shape[0]
print round(class1_rate, 2)

0.24

In [53]:
mean = titanic['Age'].mean()
median = titanic['Age'].median()
print mean, median

29.6991176471 28.0

In [54]:
print titanic['SibSp'].corr(titanic['Parch'])

0.41483769862

In [133]:
import re
def parse(x):
    x = x.translate(None, '.,"()')
#     x = x.replace("Miss ", "")
#     x = x.replace("Mrs ", "")
    match = re.search("Miss|Mrs", x)
    if match:
        ind = match.end()
        x = x[ind:]
    x = x.split()
    return x
names_dict = {}
names = titanic['Name'][titanic['Sex'] == 'female'].apply(parse)
names_iter = names.iteritems()
for row in names_iter:
    for name in row[1]:
        if name in names_dict:
            names_dict[name] += 1
        else:
            names_dict[name] = 1
max_val = max(names_dict.values())
print [k for k, v in names_dict.iteritems() if v == max_val][0]
# print [('false', k) for k, v in names_dict.iteritems() if not k.isalnum()]

Mary